.Researcher-Graph {
  box-shadow: none;
}

#researcher-graph-card {
  box-shadow: none;
}

#researcher-info-card {
  box-shadow: none;
}

#accordion {
  box-shadow: none;
  border: 1px solid #bdbdbd;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

#accordion-details {
  padding:0em;
}

#graph-legend {
  box-shadow: none;
  padding-left:0.25em
}

.paper-link {
margin-top: 1.0em;
}

.side-panel {
  border-right-style: solid;
  border-right-width: 1px;
  border-color: #002145;
  height: 75vh;
  overflow-y:auto;
}