.Researcher-Graph {
  margin-left: 24px;
}

.Researcher-Graph {
  box-shadow: none;
}

#researcher-graph-card {
  box-shadow: none;
}

#researcher-info-card {
  box-shadow: none;
}

.paper-link {
margin-top: 1.0em;
}

.side-panel {
  border-right-style: solid;
  border-right-width: 1px;
  border-color: #002145;
}